*{
    color: blue;
    font-size: 12px;;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    border: 1px solid #ccc;
    font-size: 12px;
}
.redElement{
    margin: 0 auto;
    width: 1200px;
}
#change{
    border: 1px solid #ccc;
    font-size: 12px;
}
input[type="text"] {
     padding: 10px;
     font-size: 16px;
     text-align: center;
    }
    
    